
html{
    background-color: #d6d6d6;
}

.bg-lt-gray{
    background-color: #f0f0f0;
}
.bg-white{
    background-color: #fff;
}

.match-row{
    padding: 15px;
    font-size: 1.15rem;
    color: black;
}

.score{
    clear: both;
    float: left;
}

.mouse-hover{
    cursor: pointer;
}

.lazy-load{
    background-color: gray;
    width: 70px;
    height: 1.15rem;
}

.team-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    text-align: center;
}

.game-title-bar{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

.small-team-portrait{
    border-radius: 50px;
    margin-right: 5px;
}

.mh-100{
    min-height: 400px;
}

.game-stats-wrapper{
    margin-bottom: 50px;
    background-color: white;
}

#yt-player-wrapper{
    height: 75vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-content-wrapper{
    margin-top: 65px;
    margin-left: 4rem;
    margin-right: 4rem;
}